<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="../public/semantic/semantic.min.css">
    <script src="../public/jquery-3.1.1.min.js"></script>
    <script src="../public/semantic/semantic.min.js"></script>
    <script src="../public/menu.js"></script>
    <title>공지 사항 수정</title>	
    <style>
        body{
            margin-top: 7em;
            background-image:url('../public/image/boxed-bg.png');
        }
    </style>
</head>
<body>
    
<div class="ui top fixed menu">
    <div class="item">
        <img src="../public/image/logo.png">
    </div>    
    <a href="/main" class="item">메인</a>
    <a href="/ditelist" class="item">식단표</a>
    <a href="/noticelist" class="active item">공지사항</a>
    <a href="/tendlist" class="item">건의게시판</a>
    <div class="ui dropdown item">
        식재료관리
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="/food?page=1&perpagenum=10" class="item">식재료관리</a>
            <a href="/supplier?page=1&perpagenum=10" class="item">납품업체관리</a>
            <a href="/wakelist?page=1&perpagenum=10" class="item">잔반관리</a>
        </div>
    </div>
    <div class="right menu">
    <a href="/profile" class="item">회원정보수정</a>
    <a href="/logout" class="item">로그아웃</a>
    </div>
</div>
    
    
<div class="ui raised very padded text container segment">
<form action="/noticeupdate" method="post" enctype="multipart/form-data" class="ui form">
    <h2 class="ui header">게시물 수정</h2><br>
     <div class="field">
    <label>게시물 번호</label>
    <input type="text" name="no" readonly="" value="<%= rows.번호 %>">
  </div>
     <div class="field">
    <label>제목</label>
    <input type="text" name="title" placeholder="제목" value="<%= rows.제목 %>">
  </div>
     <div class="field">
    <label>내용</label>
    <textarea name="content"><%= rows.내용 %></textarea>
  </div>
    <div class="field">
    <label>파일</label>
    <input type="file" name="photo">
  </div>
     <div class="field">
    <label>작성자</label>
    <input type="text" name="writer"  value="<%= rows.작성자 %>" readonly="">
    <input type="hidden" name="page" value="<%= context.page %>">
    <input type="hidden" name="perpagenum" value="<%= context.perPage %>">
  </div>
    
    <input class="ui button" type="submit" value="수정">
    <a href="/noticelist"><input class="ui button" type="button" value="목록으로 이동"></a>
</form>
</div>
    
</body>
</html>